.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.footer .container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 84px 0 0;
    align-items: flex-start;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.address__link {
  white-space: nowrap;
  margin-bottom: 9px;
  color: var(--secondary-accent-color);

  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.mail__link {
  display: inline-block;
  margin-bottom: 9px;
}
.mail__link,
.phone__link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
}

.follow {
  @media screen and (min-width: 768px) {
    margin-right: 75px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.follow__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  color: var(--secondary-accent-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.networks {
  display: flex;
  justify-content: center;
}
.networks__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}
.footer__link:hover .footer__icon,
.footer__link:focus .footer__icon {
  fill: var(--secondary-accent-color);
}

.footer__link .footer__icon {
  fill: var(--secondary-accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
  }
}
.footer__form {
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-top: 0;
  }
}

.subscribe__label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: center;

  color: var(--secondary-accent-color);
  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
    text-align: start;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;

  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color);
  margin-right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-background-color);
  margin-bottom: 20px;

  &:focus {
    outline: none;
    border: 1px solid var(--accent-text-color);
  }
  &::placeholder {
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  margin-right: 8px;
  fill: var(--secondary-accent-color);
}
